// .container{
//   display: flex;
//   flex-direction: column;
//   gap: 8px;
//   border-left: solid 3px;
//   border-bottom: solid 3px;
//   border-bottom-left-radius: 8px;
//   padding: 8px;
//   margin: 8px;
// }

// button{
//   border: none;
//   padding: 4px;
//   border-radius: 4px;
//   color: white;
//   font-weight: bold;
// }

// .delete-btn{
//   background-color: red;
// }

// .edit-btn{
//   background-color: #555555;
//   margin-left: 8px;
// }
<<<<<<< HEAD
.mat-card{
  box-shadow: none;
}
.content{
  display: flex;
  flex-direction:  column;
}

.card-container{
  display: flex;
  width: 100%;
  background-color: #424242;
  border-radius: 4px;
}

.card-content{
  flex-grow: 1;
}

.priority-container{
  box-sizing: border-box;
  width: 15px;
  padding: 5px;
=======

.content {
  display: flex;
  flex-direction: column;
>>>>>>> 7d4184a389df47402800a1438764f867cc21bded
}

.priority-color{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}