.container{
<<<<<<< HEAD
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #7b1fab;
    min-width: 100%;
}

=======
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #7b1fa2;
  min-height: 100%;
}

.content{
  display: flex;
  flex-direction: column;
}
>>>>>>> 7d4184a389df47402800a1438764f867cc21bded
