.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: solid 3px crimson;
  border-bottom: solid 3px crimson;
  border-bottom-left-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.form-field{
  display: flex;
  gap: 8px
}

.label{
  display: inline-block;
  width: 50px;
}

input{
  min-width: 50%;
}

<<<<<<< HEAD

button{
=======
button {
>>>>>>> 7d4184a389df47402800a1438764f867cc21bded
  border: none;
  padding: 4px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: crimson;
}

button:disabled{
<<<<<<< HEAD
  background-color: rgba(220, 20, 60, 0.289);
}
=======
 background-color: rgba(220, 20, 60, 0.247);
}
>>>>>>> 7d4184a389df47402800a1438764f867cc21bded
