.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin: 8px;
}

.form-field{
  display: flex;
  gap: 8px
}

.label{
  display: inline-block;
  width: 50px;
}

input{
  min-width: 50%;
}

button {
  border: none;
  padding: 4px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: crimson;
}

button:disabled{
 background-color: rgba(220, 20, 60, 0.247);
}
