.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: solid 3px crimson;
  border-bottom: solid 3px crimson;
  border-bottom-left-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.form-field{
  display: flex;
  gap: 8px
}

.label{
  display: inline-block;
  width: 50px;
}

input{
  min-width: 50%;
}
