header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: solid 3px crimson;
  border-bottom: solid 3px crimson;
  border-bottom-left-radius: 8px;
  padding: 8px;
  margin: 8px;
}

nav{
  display: flex;
  gap: 16px;
}

nav a{
  font-size: large;
  text-decoration: none;
  color: crimson;
}

.spacer {
  flex: 1 1 auto;
}
