<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button routerLink="/todo" mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button routerLink="/done" mat-icon-button>
    <mat-icon>done</mat-icon>
  </button>
  <button routerLink="/edit" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>


<!-- <header>
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/todo">todo attivi</a>
    <a routerLink="/done">todo completati</a>
    <a routerLink="/edit">crea nuovo</a>
  </nav>
</header> -->

<!-- <app-list></app-list> -->

<router-outlet></router-outlet>
