<div *ngIf="todo">
    <div>
        <span>nome</span>
        <input type="text" [(ngModel)]="todo.name">
    </div>
    <div>
        <span>priorità</span>
        <input type="number" [(ngModel)]="todo.priority">
    </div>
    <div>
        <span>tags</span>
        <input type="text" [(ngModel)]="tagsString">
    </div>
    <div>
        <span>data di creazione: </span>
        <span>{{todo.creationDate}}</span>
    </div>
    <div *ngIf="todo.doneDate">
        <span>data di compilamento: </span>
        <span>{{todo.doneDate}}</span>
    </div>

    <button [disabled]="!todo.name" (click)="saveTodo()">Save</button>

</div>